body{
margin: 0;
padding: 0;
}
#header{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #020024;
    color: white;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 19%, rgba(0, 212, 255, 1) 100%);
}

#comLink{
    display: flex;
    flex-direction: row;
    gap: 25px;

}
#comLink a{
    text-decoration: none;
    color: white;
}

#mainContent{
 width: 50%; /* or use max-width */
  max-width: 1200px;
  margin: 0 auto;
}

    table {
      width: 100%;
      border-collapse: collapse;
    }
    th{
        background-color: rgba(9, 9, 121, 1);
        color: white;
        
    }

    th, td {
      border: 1px solid black;
      text-align: center;
      padding: 6px;
    }

    th:nth-child(1),
    td:nth-child(1),
    th:nth-child(3),
    td:nth-child(3) {
      width: 25%;
    }

    th:nth-child(2),
    td:nth-child(2) {
      width: 50%;
    }

    input{
        
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .big-input {
  height: 40px; 
  font-size: 16px; 
  padding: 8px;     
}
